@import "tailwindcss";

@font-face {
  font-family: 'Alliance No.2';
  src: url('/Alliance No.2 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Alliance No.2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #0a0a0a;
  color: #ffffff;
}
